.grid-container {
    padding-left: 100px;
    padding-right: 100px;
}

.grid-header,
.grid-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) ; /* Дополнительный столбец для кнопок */
    gap: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.grid-item > div {
    border: 1px solid #ccc;
    padding: 8px;
    word-wrap: break-word;
}

.button {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.home-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.title {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-color{

    border: 1px solid #ccc;
    background-color: rgba(254, 245, 231, 0.4) ;

}