.wrapping{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.criteria {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

