body{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.home-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.space-container{
    margin-top: 15em;
}
.box-color{
    background-color: rgba(254, 245, 231, 0.85);
}
