body{
    margin: 0px;
    padding: 0px;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Выравнивание элементов слева направо */
    margin-top: 2rem; /* Дополнительное пространство сверху */
    padding-left: 60px;
}
.card-list-container {
    display: flex;
    flex-wrap: wrap;
}

.header-text {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 60px;
    padding-right: 20px;
}

.space{
    margin-bottom: 10rem;
}

.card-container {
    position: relative;
}

.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 54px;
    cursor: pointer;
    color: red;
    display: none;
}
.card-content {
    position: relative;
    display: inline-block;
}
.card-container:hover .delete-icon {
    display: block;
}
