body{
    margin: 0px;
    padding: 0px;
}


.nav-button {
  position: absolute;
  top: 10px;
  right: 10px;
}


.rankertext {
  padding-left: 60px;
}


.tc {
  text-align: center;
}

.tl {
  text-align: left;
}
.header-text {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 60px;
    padding-right: 20px;
}

.sub-text {
    padding: 35px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100px;
}

.category-text {
    position: absolute;
    top: 0;
    left: 0;
}